# Ex - GroupBy

### Paso 1. Importar librerias

In [1]:
import numpy as np
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'

### Paso 3. Asígnalo a una variable llamada bebidas.

In [4]:
drinks = pd.read_csv(url, sep=',')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Paso 4. ¿Qué continente bebe más cerveza por término medio?

In [18]:
drinks.groupby(['continent'])[['beer_servings']].mean().sort_values(by='beer_servings', ascending=False)

           beer_servings
continent
EU            193.777778
SA            175.083333
OC             89.687500
AF             61.471698
AS             37.045455

### Paso 5. Para cada continente, imprima las estadísticas de consumo de vino.

In [17]:
drinks.groupby(['continent'])[['wine_servings']].aggregate(['min','mean','median','max', 'sum'])

          wine_servings
                    min        mean median  max   sum
continent
AF                    0   16.264151    2.0  233   862
AS                    0    9.068182    1.0  123   399
EU                    0  142.222222  128.0  370  6400
OC                    0   35.625000    8.5  212   570
SA                    1   62.416667   12.0  221   749

### Paso 6. Imprime la media de consumo de alcohol por continente para cada columna

In [19]:
drinks.groupby(['continent'])[['total_litres_of_pure_alcohol']].mean().sort_values(by='total_litres_of_pure_alcohol', ascending=False)

           total_litres_of_pure_alcohol
continent
EU                             8.617778
SA                             6.308333
OC                             3.381250
AF                             3.007547
AS                             2.170455

### Paso 7. Imprime la mediana de consumo de alcohol por continente para cada columna

In [21]:
drinks.groupby(['continent'])[['total_litres_of_pure_alcohol']].median()

           total_litres_of_pure_alcohol
continent
AF                                 2.30
AS                                 1.20
EU                                10.00
OC                                 1.75
SA                                 6.85

### Paso 8. Imprima los valores medio, mínimo y máximo de consumo de alcohol por continente.

In [22]:
drinks.groupby(['continent'])[['total_litres_of_pure_alcohol']].aggregate(['mean','min','max'])

          total_litres_of_pure_alcohol
                                  mean  min   max
continent
AF                            3.007547  0.0   9.1
AS                            2.170455  0.0  11.5
EU                            8.617778  0.0  14.4
OC                            3.381250  0.0  10.4
SA                            6.308333  3.8   8.3