# Ejercicios

Completa los siguientes ejercicios utilizando lo que hemos aprendido hasta y los datos del directorio ejercicios/:

1. Queremos ver los datos de las acciones de Facebook, Apple, Amazon, Netflix y Google (FAANG), pero nos dieron cada uno como un archivo CSV separado. Combínelos en un único archivo y guarde el dataframe de los datos FAANG como faang para el resto de los ejercicios:
- a) Lee los archivos aapl.csv, amzn.csv, fb.csv, goog.csv y nflx.csv.
- b) Añade una columna a cada dataframe, llamalo ticker, indicando el símbolo del ticker al que corresponde (el de Apple es AAPL, por ejemplo); así es como se busca una acción. En este caso, los nombres de los archivos son los símbolos de los teletipos.
- c) Agréguelos en un dataframe.
- d) Guarda el resultado en un archivo CSV llamado faang.csv.
2. Con faang, utilice la conversión de tipos para convertir los valores de la columna de fecha en datetime y la columna de volumen en números enteros. A continuación, ordena por fecha y ticker.
3. Encuentre las siete filas en faang con el valor más bajo para el volumen.
4. En este momento, los datos están entre formato largo y ancho. Utilice melt() para que el formato sea completamente largo. Sugerencia: fecha y ticker son nuestras variables ID
(identifican de forma única cada fila). Necesitamos fundir(melt) el resto para no tener columnas separadas para apertura, máximo, mínimo, cierre y volumen.
5. Supongamos que descubrimos que el 26 de julio de 2018 hubo un fallo en cómo se registraron los datos. ¿Cómo debemos manejar esto? Tenga en cuenta que no se requiere codificación para este ejercicio.
6. El Centro Europeo para la Prevención y el Control de las Enfermedades (ECDC) proporciona un conjunto de datos abierto sobre casos de COVID-19 denominado número diario de nuevos casos notificados de COVID-19 por país en todo el mundo (https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographicdistribution-covid-19-cases-worldwide). Este conjunto de datos se actualiza diariamente, pero utilizaremos una instantánea que contiene datos desde el 1 de enero de 2020 hasta el 18 de septiembre de 2020. Limpia y pivota los datos para que estén en formato ancho:
- a) Lea el archivo covid19_casos.csv.
- b) Cree una columna de fecha utilizando los datos de la columna dateRep y la función pd.to_datetime().
- c) Establece la columna de fecha como índice y ordena el índice.
- d) Sustituye todas las apariciones de United_States_of_America y United_Kingdom por USA y UK, respectivamente. Sugerencia: el método replace() puede ejecutarse en todo el dataframe.
- e) Utilizando la columna countriesAndTerritories, filtre los datos de casos COVID-19 depurados hasta Argentina, Brasil, China, Colombia, India, Italia, México, Perú, Rusia, España, Turquía, Reino Unido y Estados Unidos.
- f) Pivota los datos de modo que el índice contenga las fechas, las columnas contengan los nombres de los países y los valores sean los recuentos de casos (la columna de casos). Asegúrate de rellenar los valores NaN con 0.
7. Para determinar los totales de casos por país de forma eficiente, necesitamos las habilidades de agregación que aprenderemos en el Capítulo 4, Agregación de Pandas DataFrames, así que los datos ECDC en el fichero covid19_casos.csv han sido agregados para nosotros y guardados en el fichero covid19_total_casos.csv. Contiene el número total de casos por país. Utilice estos datos para encontrar los 20 países con los mayores totales de casos de COVID-19. Sugerencias: al leer el archivo CSV, introduzca index_col='cases' y tenga en cuenta que será útil transponer los datos antes de aislar los países.

## Importamos librerías

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Combinación de DataFrames:

1. Queremos ver los datos de las acciones de Facebook, Apple, Amazon, Netflix y Google (FAANG), pero nos dieron cada uno como un archivo CSV separado. Combínelos en un único archivo y guarde el dataframe de los datos FAANG como faang para el resto de los ejercicios:

In [2]:
face = pd.read_csv('fb.csv', sep=',')
apple = pd.read_csv('aapl.csv', sep=',')
amazon = pd.read_csv('amzn.csv', sep=',')
netflix = pd.read_csv('nflx.csv', sep=',')
google = pd.read_csv('goog.csv', sep=',')

In [3]:
face.head()
face.shape
face['ticker'] = 'FB'
face.head()

         date        high         low        open       close    volume ticker
0  2018-01-02  181.580002  177.550003  177.679993  181.419998  18151900     FB
1  2018-01-03  184.779999  181.330002  181.880005  184.669998  16886600     FB
2  2018-01-04  186.210007  184.100006  184.899994  184.330002  13880900     FB
3  2018-01-05  186.899994  184.929993  185.589996  186.850006  13574500     FB
4  2018-01-08  188.899994  186.330002  187.199997  188.279999  17994700     FB

In [4]:
apple.head()
apple.shape
apple['ticker'] = 'APPL'
apple.head()

         date       high        low       open      close       volume ticker
0  2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600.0   APPL
1  2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600.0   APPL
2  2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400.0   APPL
3  2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000.0   APPL
4  2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200.0   APPL

In [5]:
df_FA = pd.concat((face,apple))
df_FA

,date,high,low,open,close,volume,ticker
0,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0,FB
1,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600.0,FB
2,2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900.0,FB
3,2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500.0,FB
4,2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700.0,FB
...,...,...,...,...,...,...,...
246,2018-12-24,37.887501,36.647499,37.037498,36.707500,148676800.0,APPL
247,2018-12-26,39.307499,36.680000,37.075001,39.292500,234330000.0,APPL
248,2018-12-27,39.192501,37.517502,38.959999,39.037498,212468400.0,APPL
249,2018-12-28,39.630001,38.637501,39.375000,39.057499,169165600.0,APPL
250,2018-12-31,39.840000,39.119999,39.632500,39.435001,140014000.0,APPL

In [6]:
amazon.head()
amazon.shape
amazon['ticker'] = 'AMZN'
amazon.head()

,date,high,low,open,close,volume,ticker
0,2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500,AMZN
1,2018-01-03,1205.489990,1188.300049,1188.300049,1204.199951,3108800,AMZN
2,2018-01-04,1215.869995,1204.660034,1205.000000,1209.589966,3022100,AMZN
3,2018-01-05,1229.140015,1210.000000,1217.510010,1229.140015,3544700,AMZN
4,2018-01-08,1253.079956,1232.030029,1236.000000,1246.869995,4279500,AMZN

In [7]:
netflix.head()
netflix.shape
netflix['ticker'] = 'NFLX'
netflix.head()

         date        high         low        open       close    volume ticker
0  2018-01-02  201.649994  195.419998  196.100006  201.070007  10966900   NFLX
1  2018-01-03  206.210007  201.500000  202.050003  205.050003   8591400   NFLX
2  2018-01-04  207.050003  204.000000  206.199997  205.630005   6029600   NFLX
3  2018-01-05  210.020004  205.589996  207.250000  209.990005   7033200   NFLX
4  2018-01-08  212.500000  208.440002  210.020004  212.050003   5580200   NFLX

In [8]:
df_AN = pd.concat((amazon,netflix))
df_AN

,date,high,low,open,close,volume,ticker
0,2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500,AMZN
1,2018-01-03,1205.489990,1188.300049,1188.300049,1204.199951,3108800,AMZN
2,2018-01-04,1215.869995,1204.660034,1205.000000,1209.589966,3022100,AMZN
3,2018-01-05,1229.140015,1210.000000,1217.510010,1229.140015,3544700,AMZN
4,2018-01-08,1253.079956,1232.030029,1236.000000,1246.869995,4279500,AMZN
...,...,...,...,...,...,...,...
246,2018-12-24,250.649994,233.679993,242.000000,233.880005,9547600,NFLX
247,2018-12-26,254.500000,231.229996,233.919998,253.669998,14402700,NFLX
248,2018-12-27,255.589996,240.100006,250.110001,255.570007,12235200,NFLX
249,2018-12-28,261.910004,249.800003,257.940002,256.079987,10992800,NFLX
250,2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900,NFLX

In [9]:
google.head()
google.shape
google['ticker'] = 'GOOG'
google.head()

,date,high,low,open,close,volume,ticker
0,2018-01-02,1066.939941,1045.229980,1048.339966,1065.000000,1237600,GOOG
1,2018-01-03,1086.290039,1063.209961,1064.310059,1082.479980,1430200,GOOG
2,2018-01-04,1093.569946,1084.001953,1088.000000,1086.400024,1004600,GOOG
3,2018-01-05,1104.250000,1092.000000,1094.000000,1102.229980,1279100,GOOG
4,2018-01-08,1111.270020,1101.619995,1102.229980,1106.939941,1047600,GOOG

In [10]:
df_FAAN = pd.concat((df_FA,df_AN))
faang = pd.concat((df_FAAN,google))
faang.to_csv('faang.csv', index=False)

## Ejercicio 2

2. Con faang, utilice la conversión de tipos para convertir los valores de la columna de fecha en datetime y la columna de volumen en números enteros. A continuación, ordena por fecha y ticker.

In [11]:
faang = pd.read_csv('faang.csv', sep=',')
faang.head()

,date,high,low,open,close,volume,ticker
0,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0,FB
1,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600.0,FB
2,2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900.0,FB
3,2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500.0,FB
4,2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700.0,FB

In [12]:
faang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1255 entries, 0 to 1254
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1255 non-null   object
 1   high    1255 non-null   float64
 2   low     1255 non-null   float64
 3   open    1255 non-null   float64
 4   close   1255 non-null   float64
 5   volume  1255 non-null   float64
 6   ticker  1255 non-null   object
dtypes: float64(5), object(2)
memory usage: 68.8+ KB

In [13]:
faang['date'] = pd.to_datetime(faang['date'])
faang['volume'] =  faang['volume'].astype(int)

In [14]:
faang.info()
faang.sort_values(by=['date','ticker'],inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1255 entries, 0 to 1254
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1255 non-null   datetime64[ns]
 1   high    1255 non-null   float64
 2   low     1255 non-null   float64
 3   open    1255 non-null   float64
 4   close   1255 non-null   float64
 5   volume  1255 non-null   int32
 6   ticker  1255 non-null   object
dtypes: datetime64[ns](1), float64(4), int32(1), object(1)
memory usage: 63.9+ KB

In [15]:
faang.head()

,date,high,low,open,close,volume,ticker
502,2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500,AMZN
251,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600,APPL
0,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,FB
1004,2018-01-02,1066.939941,1045.229980,1048.339966,1065.000000,1237600,GOOG
753,2018-01-02,201.649994,195.419998,196.100006,201.070007,10966900,NFLX

## Ejercicio 3

3. Encuentre las siete filas en faang con el valor más bajo para el volumen.

In [16]:
faang.loc[:,'volume'].sort_values(ascending=True).head(7)

1130    679000
1230    691500
1103    766800
1134    798400
1156    848600
1163    870800
1165    887400
Name: volume, dtype: int32

## Ejercicio 4

4. En este momento, los datos están entre formato largo y ancho. Utilice melt() para que el formato sea completamente largo. Sugerencia: fecha y ticker son nuestras variables ID
(identifican de forma única cada fila). Necesitamos fundir(melt) el resto para no tener columnas separadas para apertura, máximo, mínimo, cierre y volumen.

In [17]:
faang.columns

Index(['date', 'high', 'low', 'open', 'close', 'volume', 'ticker'], dtype='object')

In [18]:
faang_df = faang.melt(
    id_vars=('date','ticker'),
    value_vars=['high', 'low', 'open','close', 'volume']
)
faang_df.head()

        date ticker variable        value
0 2018-01-02   AMZN     high  1190.000000
1 2018-01-02   APPL     high    43.075001
2 2018-01-02     FB     high   181.580002
3 2018-01-02   GOOG     high  1066.939941
4 2018-01-02   NFLX     high   201.649994

## Ejercicio 5

5. Supongamos que descubrimos que el 26 de julio de 2018 hubo un fallo en cómo se registraron los datos. ¿Cómo debemos manejar esto? Tenga en cuenta que no se requiere codificación para este ejercicio.

In [19]:
faang_df

           date ticker variable         value
0    2018-01-02   AMZN     high  1.190000e+03
1    2018-01-02   APPL     high  4.307500e+01
2    2018-01-02     FB     high  1.815800e+02
3    2018-01-02   GOOG     high  1.066940e+03
4    2018-01-02   NFLX     high  2.016500e+02
...         ...    ...      ...           ...
6270 2018-12-31   AMZN   volume  6.954500e+06
6271 2018-12-31   APPL   volume  1.400140e+08
6272 2018-12-31     FB   volume  2.462530e+07
6273 2018-12-31   GOOG   volume  1.493300e+06
6274 2018-12-31   NFLX   volume  1.350890e+07

[6275 rows x 4 columns]

In [20]:
faang_df.query('date == "2018-07-26"')

           date ticker variable         value
710  2018-07-26   AMZN     high  1.844680e+03
711  2018-07-26   APPL     high  4.899000e+01
712  2018-07-26     FB     high  1.801300e+02
713  2018-07-26   GOOG     high  1.269771e+03
714  2018-07-26   NFLX     high  3.655400e+02
1965 2018-07-26   AMZN      low  1.804500e+03
1966 2018-07-26   APPL      low  4.840250e+01
1967 2018-07-26     FB      low  1.737500e+02
1968 2018-07-26   GOOG      low  1.249020e+03
1969 2018-07-26   NFLX      low  3.566300e+02
3220 2018-07-26   AMZN     open  1.839000e+03
3221 2018-07-26   APPL     open  4.865250e+01
3222 2018-07-26     FB     open  1.748900e+02
3223 2018-07-26   GOOG     open  1.251000e+03
3224 2018-07-26   NFLX     open  3.581900e+02
4475 2018-07-26   AMZN    close  1.808000e+03
4476 2018-07-26   APPL    close  4.855250e+01
4477 2018-07-26     FB    close  1.762600e+02
4478 2018-07-26   GOOG    close  1.268330e+03
4479 2018-07-26   NFLX    close  3.630900e+02
5730 2018-07-26   AMZN   volume  9.924400e+06
5731 2018-07-26   APPL   volume  7.630400e+07
5732 2018-07-26     FB   volume  1.698037e+08
5733 2018-07-26   GOOG   volume  2.405600e+06
5734 2018-07-26   NFLX   volume  6.993700e+06

## Ejercicio 6

6. El Centro Europeo para la Prevención y el Control de las Enfermedades (ECDC) proporciona un conjunto de datos abierto sobre casos de COVID-19 denominado número diario de nuevos casos notificados de COVID-19 por país en todo el mundo (https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographicdistribution-covid-19-cases-worldwide). Este conjunto de datos se actualiza diariamente, pero utilizaremos una instantánea que contiene datos desde el 1 de enero de 2020 hasta el 18 de septiembre de 2020. Limpia y pivota los datos para que estén en formato ancho:
- a) Lea el archivo covid19_casos.csv.
- b) Cree una columna de fecha utilizando los datos de la columna dateRep y la función pd.to_datetime().
- c) Establece la columna de fecha como índice y ordena el índice.
- d) Sustituye todas las apariciones de United_States_of_America y United_Kingdom por USA y UK, respectivamente. Sugerencia: el método replace() puede ejecutarse en todo el dataframe.
- e) Utilizando la columna countriesAndTerritories, filtre los datos de casos COVID-19 depurados hasta Argentina, Brasil, China, Colombia, India, Italia, México, Perú, Rusia, España, Turquía, Reino Unido y Estados Unidos.
- f) Pivota los datos de modo que el índice contenga las fechas, las columnas contengan los nombres de los países y los valores sean los recuentos de casos (la columna de casos). Asegúrate de rellenar los valores NaN con 0.

In [21]:
covid_df = pd.read_csv('covid19_cases.csv')
covid_df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,01/01/2020,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN
1,01/01/2020,1,1,2020,0,0,Iceland,IS,ISL,356991.0,Europe,NaN
2,01/01/2020,1,1,2020,0,0,Nepal,NP,NPL,28608715.0,Asia,NaN
3,01/01/2020,1,1,2020,0,0,San_Marino,SM,SMR,34453.0,Europe,NaN
4,01/01/2020,1,1,2020,0,0,Canada,CA,CAN,37411038.0,America,NaN

In [22]:
covid_df['date'] = pd.to_datetime(covid_df['dateRep'], dayfirst=True, yearfirst=True)
covid_df.set_index('date',inplace=True)
covid_df.sort_values(by='date').head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date,,,,,,,,,,,,
2020-01-01,01/01/2020,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Singapore,SG,SGP,5804343.0,Asia,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Egypt,EG,EGY,100388076.0,Africa,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Azerbaijan,AZ,AZE,10047719.0,Europe,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Switzerland,CH,CHE,8544527.0,Europe,NaN

In [23]:
covid_df['countriesAndTerritories'].replace('United_States_of_America', 'USA',inplace=True)
covid_df['countriesAndTerritories'].replace('United_Kingdom', 'UK',inplace=True)

In [24]:
covid_df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date,,,,,,,,,,,,
2020-01-01,01/01/2020,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Iceland,IS,ISL,356991.0,Europe,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Nepal,NP,NPL,28608715.0,Asia,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,San_Marino,SM,SMR,34453.0,Europe,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Canada,CA,CAN,37411038.0,America,NaN

In [25]:
# - e) Utilizando la columna countriesAndTerritories, filtre los datos de casos COVID-19 depurados
# hasta Argentina, Brasil, China, Colombia, India, Italia, México, Perú, Rusia, España, Turquía, Reino Unido y Estados Unidos.

df_filtrado = covid_df.query('cases == 1 and countriesAndTerritories in ["Argentina", "Brazil", "China", "Colombia", "India", "Italy", "Mexico", "Peru", "Russia", "Spain", "Turkey", "UK","USA"]')
df_filtrado

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date,,,,,,,,,,,,
2020-01-21,21/01/2020,21,1,2020,1,0,USA,US,USA,3.290649e+08,America,0.000304
2020-01-25,25/01/2020,25,1,2020,1,0,USA,US,USA,3.290649e+08,America,0.000608
2020-01-30,30/01/2020,30,1,2020,1,0,India,IN,IND,1.366418e+09,Asia,0.000073
2020-01-31,31/01/2020,31,1,2020,1,0,USA,US,USA,3.290649e+08,America,0.001823
2020-02-01,01/02/2020,1,2,2020,1,0,USA,US,USA,3.290649e+08,America,0.002127
2020-02-01,01/02/2020,1,2,2020,1,0,Spain,ES,ESP,4.693706e+07,Europe,0.002131
2020-02-02,02/02/2020,2,2,2020,1,0,India,IN,IND,1.366418e+09,Asia,0.000146
2020-02-02,02/02/2020,2,2,2020,1,0,USA,US,USA,3.290649e+08,America,0.002431
2020-02-04,04/02/2020,4,2,2020,1,0,India,IN,IND,1.366418e+09,Asia,0.000220
2020-02-05,05/02/2020,5,2,2020,1,0,UK,UK,GBR,6.664711e+07,Europe,0.004501
2020-02-06,06/02/2020,6,2,2020,1,0,USA,US,USA,3.290649e+08,America,0.003343
2020-02-07,07/02/2020,7,2,2020,1,0,UK,UK,GBR,6.664711e+07,Europe,0.006002
2020-02-10,10/02/2020,10,2,2020,1,0,Spain,ES,ESP,4.693706e+07,Europe,0.004261
2020-02-11,11/02/2020,11,2,2020,1,0,USA,US,USA,3.290649e+08,America,0.002431
2020-02-11,11/02/2020,11,2,2020,1,0,UK,UK,GBR,6.664711e+07,Europe,0.013504
2020-02-13,13/02/2020,13,2,2020,1,0,USA,US,USA,3.290649e+08,America,0.002735
2020-02-13,13/02/2020,13,2,2020,1,0,UK,UK,GBR,6.664711e+07,Europe,0.015004
2020-02-14,14/02/2020,14,2,2020,1,0,USA,US,USA,3.290649e+08,America,0.002735
2020-02-21,21/02/2020,21,2,2020,1,0,USA,US,USA,3.290649e+08,America,0.001216
2020-02-23,23/02/2020,23,2,2020,1,0,UK,UK,GBR,6.664711e+07,Europe,0.010503
2020-02-25,25/02/2020,25,2,2020,1,0,Spain,ES,ESP,4.693706e+07,Europe,0.002131
2020-02-26,26/02/2020,26,2,2020,1,0,Brazil,BR,BRA,2.110495e+08,America,0.000474
2020-02-28,28/02/2020,28,2,2020,1,0,USA,US,USA,3.290649e+08,America,0.013675
2020-03-01,01/03/2020,1,3,2020,1,0,Brazil,BR,BRA,2.110495e+08,America,0.000948
2020-03-02,02/03/2020,2,3,2020,1,0,Mexico,MX,MEX,1.275755e+08,America,0.003919
2020-03-03,03/03/2020,3,3,2020,1,0,Russia,RU,RUS,1.458723e+08,Europe,0.000686
2020-03-04,04/03/2020,4,3,2020,1,0,Russia,RU,RUS,1.458723e+08,Europe,0.001371
2020-03-04,04/03/2020,4,3,2020,1,0,India,IN,IND,1.366418e+09,Asia,0.000220
2020-03-04,04/03/2020,4,3,2020,1,0,Argentina,AR,ARG,4.478068e+07,America,NaN
2020-03-05,05/03/2020,5,3,2020,1,0,Brazil,BR,BRA,2.110495e+08,America,0.001421
2020-03-06,06/03/2020,6,3,2020,1,0,India,IN,IND,1.366418e+09,Asia,0.001903
2020-03-06,06/03/2020,6,3,2020,1,0,Argentina,AR,ARG,4.478068e+07,America,NaN
2020-03-07,07/03/2020,7,3,2020,1,0,Peru,PE,PER,3.251046e+07,America,NaN
2020-03-07,07/03/2020,7,3,2020,1,0,Colombia,CO,COL,5.033944e+07,America,NaN
2020-03-08,08/03/2020,8,3,2020,1,1,Argentina,AR,ARG,4.478068e+07,America,NaN
2020-03-12,12/03/2020,12,3,2020,1,0,Turkey,TR,TUR,8.200388e+07,Asia,NaN
2020-03-13,13/03/2020,13,3,2020,1,0,Turkey,TR,TUR,8.200388e+07,Asia,NaN
2020-05-12,12/05/2020,12,5,2020,1,0,China,CN,CHN,1.433784e+09,Asia,0.005091
2020-05-27,27/05/2020,27,5,2020,1,0,China,CN,CHN,1.433784e+09,Asia,0.005928
2020-06-04,04/06/2020,4,6,2020,1,0,China,CN,CHN,1.433784e+09,Asia,0.006486

In [26]:
# - f) Pivota los datos de modo que el índice contenga las fechas, las columnas contengan los nombres de los países 
# y los valores sean los recuentos de casos (la columna de casos). Asegúrate de rellenar los valores NaN con 0.

pivot_df = df_filtrado.pivot_table(index='date', columns='countriesAndTerritories', values='cases', fill_value=0)
pivot_df

countriesAndTerritories,Argentina,Brazil,China,Colombia,India,Mexico,Peru,Russia,Spain,Turkey,UK,USA
date,,,,,,,,,,,,
2020-01-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-01-30,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2020-02-02,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-02-04,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-02-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2020-02-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-02-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2020-02-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2020-02-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2020-02-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2020-02-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-02-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-02-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2020-02-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2020-02-26,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-02-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-03-01,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-03-02,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-03-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2020-03-04,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2020-03-05,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-03-06,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-03-07,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2020-03-08,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-03-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2020-03-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2020-05-12,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-05-27,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-06-04,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Ejercicio 7.

Para determinar los totales de casos por país de forma eficiente, necesitamos las habilidades de agregación que aprenderemos en el Capítulo 4, Agregación de Pandas DataFrames, así que los datos ECDC en el fichero covid19_casos.csv han sido agregados para nosotros y guardados en el fichero covid19_total_casos.csv. Contiene el número total de casos por país. Utilice estos datos para encontrar los 20 países con los mayores totales de casos de COVID-19. Sugerencias: al leer el archivo CSV, introduzca index_col='cases' y tenga en cuenta que será útil transponer los datos antes de aislar los países.

In [39]:
df_total_casos = pd.read_csv('covid19_total_cases.csv', index_col='index')
df_total_casos = df_total_casos.T # contiene total por pais
df_total_casos

index           cases
Afghanistan     38919
Albania         12073
Algeria         49413
Andorra          1564
Angola           3789
...               ...
Vietnam          1068
Western_Sahara    766
Yemen            2024
Zambia          14022
Zimbabwe         7647

[210 rows x 1 columns]

In [40]:
df_total_casos.loc[:,'cases'].sort_values(ascending=False).head(20)

USA             6724667
India           5308014
Brazil          4495183
Russia          1091186
Peru             756412
Colombia         750471
Mexico           688954
South_Africa     657627
Spain            640040
Argentina        601700
Chile            442827
France           428696
Iran             416198
UK               385936
Bangladesh       345805
Saudi_Arabia     328720
Iraq             311690
Pakistan         305031
Turkey           299810
Italy            294932
Name: cases, dtype: int64