# *Pinguinos EDA - Palmer*

*****

agregar una imagen

## Importamos librerías

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [ ]:
df = pd.read_csv('./data/penguins_size.csv', sep=',')
df.head()

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
for i in df.select_dtypes(include=object):
    # print(f'{i} La cardinalidad es de: {df.nunique()/df.shape[0]* 100}')

In [ ]:
df.columns

In [ ]:
sns.pairplot(df);

Hipótesis

## Estadísticas

1. Tamaño y sexo
2. Especie y Característica física
3. Aleta y Masa corporal
4. Distribución de Normalidad

## Gráficamente

1. Distribución de las características por isla.
2. Relación entre longitud y profundidad del pico.
3. Interacción entre especies, islas y características físicas.
4. Gráfica de Normalidad.

## Limpieza

In [ ]:
df.isna().sum()

In [ ]:
df.sex.unique()
df['sex'].replace('.', np.nan, inplace=True)

In [ ]:
df.select_dtypes(exclude='object').corr()

In [32]:
df.groupby(['species','island','sex']).mean(numeric_only=True).reset_index() #Siempre ne orden de importancia

,species,island,sex,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g
0,Adelie,Biscoe,FEMALE,37.359091,17.704545,187.181818,3369.318182
1,Adelie,Biscoe,MALE,40.590909,19.036364,190.409091,4050.000000
2,Adelie,Dream,FEMALE,36.911111,17.618519,187.851852,3344.444444
3,Adelie,Dream,MALE,40.071429,18.839286,191.928571,4045.535714
4,Adelie,Torgersen,FEMALE,37.554167,17.550000,188.291667,3395.833333
5,Adelie,Torgersen,MALE,40.586957,19.391304,194.913043,4034.782609
6,Chinstrap,Dream,FEMALE,46.573529,17.588235,191.735294,3527.205882
7,Chinstrap,Dream,MALE,51.094118,19.252941,199.911765,3938.970588
8,Gentoo,Biscoe,FEMALE,45.563793,14.237931,212.706897,4679.741379
9,Gentoo,Biscoe,MALE,49.473770,15.718033,221.540984,5484.836066

In [33]:
df.groupby(['species','island','sex']).aggregate({'culmen_length_mm':'mean','culmen_depth_mm':'mean','flipper_length_mm': 'median','body_mass_g':'median'}).reset_index()

,species,island,sex,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g
0,Adelie,Biscoe,FEMALE,37.359091,17.704545,187.0,3375.0
1,Adelie,Biscoe,MALE,40.590909,19.036364,191.0,4000.0
2,Adelie,Dream,FEMALE,36.911111,17.618519,188.0,3400.0
3,Adelie,Dream,MALE,40.071429,18.839286,190.5,3987.5
4,Adelie,Torgersen,FEMALE,37.554167,17.550000,189.0,3400.0
5,Adelie,Torgersen,MALE,40.586957,19.391304,195.0,4000.0
6,Chinstrap,Dream,FEMALE,46.573529,17.588235,192.0,3550.0
7,Chinstrap,Dream,MALE,51.094118,19.252941,200.5,3950.0
8,Gentoo,Biscoe,FEMALE,45.563793,14.237931,212.0,4700.0
9,Gentoo,Biscoe,MALE,49.473770,15.718033,221.0,5500.0

In [39]:
# def rellenoNAN(dataframe, columna):
#     test = df.groupby(['species','island','sex']).aggregate({'culmen_length_mm':'mean','culmen_depth_mm':'mean','flipper_length_mm': 'median','body_mass_g':'median'}).reset_index()
#     if dataframe[columna] in test.columns:
#         dataframe[columna].fillna()
        
        
#Realizar una función con condicionales en el cual, reste las variables del dataframe d elos nan y luego haga una sumatoria, en proporción, es decir
# si la mayoria de las columnas sson f, va FEMALE