# Occupation

### Paso 1. Importar librerias

In [ ]:
import numpy as np
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Paso 3. Asígnalo a una variable llamada usuarios.

In [ ]:
usuarios = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')
usuarios.head()

### Paso 4. Descubre cuál es la edad media por ocupación

In [ ]:
usuarios['occupation'].nunique()

In [ ]:
usuarios.groupby('occupation')[['age']].mean()

### Paso 5. Descubra la proporción de Hombres por ocupación y ordénela de mayor a menor

#### Forma 1

In [136]:
user = usuarios.groupby(['occupation'])[['gender']].count()

male_users = usuarios[usuarios['gender'] == 'M']
user2 = male_users.groupby(['occupation'])[['gender']].count()


df = pd.merge(user,user2, on='occupation', suffixes=('_total', '_male'))
df['porc_total'] = df['gender_male'] * 100 / df['gender_total']
df

               gender_total  gender_male  porc_total
occupation
administrator            79           43   54.430380
artist                   28           15   53.571429
doctor                    7            7  100.000000
educator                 95           69   72.631579
engineer                 67           65   97.014925
entertainment            18           16   88.888889
executive                32           29   90.625000
healthcare               16            5   31.250000
homemaker                 7            1   14.285714
lawyer                   12           10   83.333333
librarian                51           22   43.137255
marketing                26           16   61.538462
none                      9            5   55.555556
other                   105           69   65.714286
programmer               66           60   90.909091
retired                  14           13   92.857143
salesman                 12            9   75.000000
scientist                31           28   90.322581
student                 196          136   69.387755
technician               27           26   96.296296
writer                   45           26   57.777778

#### Forma 2

#### Forma 3

### Paso 6. Para cada ocupación, calcule las edades mínima y máxima

In [ ]:
usuarios.groupby('occupation')[['age']].aggregate({'age': ['min','max']})

### Paso 7. Para cada combinación de ocupación y sexo, calcule la edad media

In [ ]:
usuarios.query('occupation == "doctor" and gender == "F" ')

In [ ]:
usuarios.groupby(['occupation', 'gender'])[['age']].mean()

### Paso 8.  Para cada ocupación, presente el porcentaje de mujeres y hombres

In [137]:
female_users = usuarios[usuarios['gender'] == 'F']
df['gender_female'] = female_users.groupby(['occupation'])[['gender']].count()

df['porc_total_female'] = df['gender_female'] * 100 / df['gender_total']
df

,gender_total,gender_male,porc_total,gender_female,porc_total_female
occupation,,,,,
administrator,79,43,54.430380,36.0,45.569620
artist,28,15,53.571429,13.0,46.428571
doctor,7,7,100.000000,NaN,NaN
educator,95,69,72.631579,26.0,27.368421
engineer,67,65,97.014925,2.0,2.985075
entertainment,18,16,88.888889,2.0,11.111111
executive,32,29,90.625000,3.0,9.375000
healthcare,16,5,31.250000,11.0,68.750000
homemaker,7,1,14.285714,6.0,85.714286
lawyer,12,10,83.333333,2.0,16.666667
librarian,51,22,43.137255,29.0,56.862745
marketing,26,16,61.538462,10.0,38.461538
none,9,5,55.555556,4.0,44.444444
other,105,69,65.714286,36.0,34.285714
programmer,66,60,90.909091,6.0,9.090909
retired,14,13,92.857143,1.0,7.142857
salesman,12,9,75.000000,3.0,25.000000
scientist,31,28,90.322581,3.0,9.677419
student,196,136,69.387755,60.0,30.612245
technician,27,26,96.296296,1.0,3.703704
writer,45,26,57.777778,19.0,42.222222

In [132]:
user = usuarios.groupby(['occupation'])[['gender']].count()

male_users = usuarios[usuarios['gender'] == 'M']
user2 = male_users.groupby(['occupation'])[['gender']].count()

female_users = usuarios[usuarios['gender'] == 'F']
# user3 = female_users.groupby(['occupation'])[['gender']].count()


df = pd.merge(user,user2, on='occupation', suffixes=('_total', '_male'))
df['gender_female'] = female_users.groupby(['occupation'])[['gender']].count()

df['porc_total_male'] = df['gender_male'] * 100 / df['gender_total']
df['porc_total_female'] = df['gender_female'] * 100 / df['gender_total']
df

,gender_total,gender_male,gender_female,porc_total_male,porc_total_female
occupation,,,,,
administrator,79,43,36.0,54.430380,45.569620
artist,28,15,13.0,53.571429,46.428571
doctor,7,7,NaN,100.000000,NaN
educator,95,69,26.0,72.631579,27.368421
engineer,67,65,2.0,97.014925,2.985075
entertainment,18,16,2.0,88.888889,11.111111
executive,32,29,3.0,90.625000,9.375000
healthcare,16,5,11.0,31.250000,68.750000
homemaker,7,1,6.0,14.285714,85.714286
lawyer,12,10,2.0,83.333333,16.666667
librarian,51,22,29.0,43.137255,56.862745
marketing,26,16,10.0,61.538462,38.461538
none,9,5,4.0,55.555556,44.444444
other,105,69,36.0,65.714286,34.285714
programmer,66,60,6.0,90.909091,9.090909
retired,14,13,1.0,92.857143,7.142857
salesman,12,9,3.0,75.000000,25.000000
scientist,31,28,3.0,90.322581,9.677419
student,196,136,60.0,69.387755,30.612245
technician,27,26,1.0,96.296296,3.703704
writer,45,26,19.0,57.777778,42.222222