# Occupation

### Paso 1. Importar librerias

In [ ]:
import numpy as np
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Paso 3. Asígnalo a una variable llamada usuarios.

In [ ]:
usuarios = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')
usuarios.head()

### Paso 4. Descubre cuál es la edad media por ocupación

In [ ]:
usuarios['occupation'].nunique()

In [ ]:
usuarios.groupby('occupation')[['age']].mean()

### Paso 5. Descubra la proporción de Hombres por ocupación y ordénela de mayor a menor

#### Forma 1

In [ ]:
user = usuarios.groupby(['occupation'])[['gender']].count()

male_users = usuarios[usuarios['gender'] == 'M']
user2 = male_users.groupby(['occupation'])[['gender']].count()


df = pd.merge(user,user2, on='occupation', suffixes=('_total', '_male'))


df['porc_total'] = df['gender_male'] * 100 / df['gender_total']
df

#### Forma 2

In [ ]:
total_por_ocupacion = usuarios.groupby('occupation')['gender'].count().reset_index(name='gender_total')

hombres_por_ocupacion = usuarios[usuarios['gender'] == 'M'].groupby('occupation')['gender'].count().reset_index(name='gender_male')

df = pd.merge(total_por_ocupacion, hombres_por_ocupacion, on='occupation')

df['porc_total'] = df['gender_male'] * 100 / df['gender_total']

print(df)

#### Forma 3

In [17]:
usuarios_df = pd.DataFrame(
    {'ocupación': usuarios.groupby(['occupation'])['gender'].count(),
     'gender_male': usuarios[usuarios['gender'] == 'M'].groupby('occupation')['gender'].count()
    }
)
usuarios_df['porc_total'] =  usuarios_df['gender_male'] * 100 / usuarios_df['ocupación']

print(usuarios_df)

               ocupación  gender_male  porc_total
occupation
administrator         79           43   54.430380
artist                28           15   53.571429
doctor                 7            7  100.000000
educator              95           69   72.631579
engineer              67           65   97.014925
entertainment         18           16   88.888889
executive             32           29   90.625000
healthcare            16            5   31.250000
homemaker              7            1   14.285714
lawyer                12           10   83.333333
librarian             51           22   43.137255
marketing             26           16   61.538462
none                   9            5   55.555556
other                105           69   65.714286
programmer            66           60   90.909091
retired               14           13   92.857143
salesman              12            9   75.000000
scientist             31           28   90.322581
student              196          136   69.387755
technician            27           26   96.296296
writer                45           26   57.777778

### Paso 6. Para cada ocupación, calcule las edades mínima y máxima

In [18]:
usuarios.groupby('occupation')[['age']].aggregate({'age': ['min','max']})

              age
              min max
occupation
administrator  21  70
artist         19  48
doctor         28  64
educator       23  63
engineer       22  70
entertainment  15  50
executive      22  69
healthcare     22  62
homemaker      20  50
lawyer         21  53
librarian      23  69
marketing      24  55
none           11  55
other          13  64
programmer     20  63
retired        51  73
salesman       18  66
scientist      23  55
student         7  42
technician     21  55
writer         18  60

### Paso 7. Para cada combinación de ocupación y sexo, calcule la edad media

In [19]:
usuarios.groupby(['occupation', 'gender'])[['age']].mean()

                            age
occupation    gender
administrator F       40.638889
              M       37.162791
artist        F       30.307692
              M       32.333333
doctor        M       43.571429
educator      F       39.115385
              M       43.101449
engineer      F       29.500000
              M       36.600000
entertainment F       31.000000
              M       29.000000
executive     F       44.000000
              M       38.172414
healthcare    F       39.818182
              M       45.400000
homemaker     F       34.166667
              M       23.000000
lawyer        F       39.500000
              M       36.200000
librarian     F       40.000000
              M       40.000000
marketing     F       37.200000
              M       37.875000
none          F       36.500000
              M       18.600000
other         F       35.472222
              M       34.028986
programmer    F       32.166667
              M       33.216667
retired       F       70.000000
              M       62.538462
salesman      F       27.000000
              M       38.555556
scientist     F       28.333333
              M       36.321429
student       F       20.750000
              M       22.669118
technician    F       38.000000
              M       32.961538
writer        F       37.631579
              M       35.346154

### Paso 8.  Para cada ocupación, presente el porcentaje de mujeres y hombres

In [32]:
df['gender_female'] =  usuarios[usuarios['gender'] == 'F'].groupby(['occupation'])[['gender']].count()

df['porc_total_female'] = df['gender_female'] * 100 / df['gender_total']
df

,gender_total,gender_male,gender_female,porc_total_male,porc_total_female
occupation,,,,,
administrator,79,43,36.0,54.430380,45.569620
artist,28,15,13.0,53.571429,46.428571
doctor,7,7,NaN,100.000000,NaN
educator,95,69,26.0,72.631579,27.368421
engineer,67,65,2.0,97.014925,2.985075
entertainment,18,16,2.0,88.888889,11.111111
executive,32,29,3.0,90.625000,9.375000
healthcare,16,5,11.0,31.250000,68.750000
homemaker,7,1,6.0,14.285714,85.714286
lawyer,12,10,2.0,83.333333,16.666667
librarian,51,22,29.0,43.137255,56.862745
marketing,26,16,10.0,61.538462,38.461538
none,9,5,4.0,55.555556,44.444444
other,105,69,36.0,65.714286,34.285714
programmer,66,60,6.0,90.909091,9.090909
retired,14,13,1.0,92.857143,7.142857
salesman,12,9,3.0,75.000000,25.000000
scientist,31,28,3.0,90.322581,9.677419
student,196,136,60.0,69.387755,30.612245
technician,27,26,1.0,96.296296,3.703704
writer,45,26,19.0,57.777778,42.222222

In [31]:
user = usuarios.groupby(['occupation'])[['gender']].count()

male_users = usuarios[usuarios['gender'] == 'M'].groupby(['occupation'])[['gender']].count()

df = pd.merge(user,male_users, on='occupation', suffixes=('_total', '_male'))

df['gender_female'] = usuarios[usuarios['gender'] == 'F'].groupby(['occupation'])[['gender']].count()

df['porc_total_male'] = df['gender_male'] * 100 / df['gender_total']
df['porc_total_female'] = df['gender_female'] * 100 / df['gender_total']

df

,gender_total,gender_male,gender_female,porc_total_male,porc_total_female
occupation,,,,,
administrator,79,43,36.0,54.430380,45.569620
artist,28,15,13.0,53.571429,46.428571
doctor,7,7,NaN,100.000000,NaN
educator,95,69,26.0,72.631579,27.368421
engineer,67,65,2.0,97.014925,2.985075
entertainment,18,16,2.0,88.888889,11.111111
executive,32,29,3.0,90.625000,9.375000
healthcare,16,5,11.0,31.250000,68.750000
homemaker,7,1,6.0,14.285714,85.714286
lawyer,12,10,2.0,83.333333,16.666667
librarian,51,22,29.0,43.137255,56.862745
marketing,26,16,10.0,61.538462,38.461538
none,9,5,4.0,55.555556,44.444444
other,105,69,36.0,65.714286,34.285714
programmer,66,60,6.0,90.909091,9.090909
retired,14,13,1.0,92.857143,7.142857
salesman,12,9,3.0,75.000000,25.000000
scientist,31,28,3.0,90.322581,9.677419
student,196,136,60.0,69.387755,30.612245
technician,27,26,1.0,96.296296,3.703704
writer,45,26,19.0,57.777778,42.222222