# Regiment

### Paso 1. Importar librerias

In [1]:
import numpy as np
import pandas as pd

### Paso 2. Cree el DataFrame con los siguientes valores:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Paso 3. Asígnalo a una variable llamada regimiento.
##### No olvides nombrar cada columna

In [3]:
regimiento = pd.DataFrame(raw_data)
regimiento

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### Paso 4. ¿Cuál es la puntuación media preTestScore del regimiento Nighthawks?

In [11]:
regimiento4 = regimiento[regimiento['regiment'] == 'Nighthawks']

In [13]:
regimiento4.groupby('regiment')[['preTestScore']].mean()

            preTestScore
regiment
Nighthawks         15.25

### Paso 5. Presentar estadísticas generales por empresa

In [16]:
regimiento.groupby(['company','regiment']).agg({'preTestScore': ['min', 'mean', 'median', 'max'], 'postTestScore': ['min', 'mean', 'median', 'max']})

                   preTestScore                  postTestScore               \
                            min  mean median max           min  mean median
company regiment
1st     Dragoons              3   3.5    3.5   4            25  47.5   47.5
        Nighthawks            4  14.0   14.0  24            25  59.5   59.5
        Scouts                2   2.5    2.5   3            62  66.0   66.0
2nd     Dragoons             24  27.5   27.5  31            57  75.5   75.5
        Nighthawks            2  16.5   16.5  31            57  59.5   59.5
        Scouts                2   2.5    2.5   3            62  66.0   66.0


                   max
company regiment
1st     Dragoons    70
        Nighthawks  94
        Scouts      70
2nd     Dragoons    94
        Nighthawks  62
        Scouts      70

### Paso 6. ¿Cuál es la media de la puntuación preTest de cada empresa?

In [20]:
# regimiento.groupby(['company','regiment']).agg({'preTestScore': ['mean']})
regimiento.groupby(['company'])[['preTestScore']].mean()

         preTestScore
company
1st          6.666667
2nd         15.500000

### Paso 7. Presentar las puntuaciones medias preTest agrupadas por regimiento y compañía.

In [21]:
regimiento.groupby(['company','regiment'])[['preTestScore']].mean()

                    preTestScore
company regiment
1st     Dragoons             3.5
        Nighthawks          14.0
        Scouts               2.5
2nd     Dragoons            27.5
        Nighthawks          16.5
        Scouts               2.5

### Paso 8. Presentar las puntuaciones medias preTestScores agrupadas por regimiento y compañía sin indexación heirárquica.

In [22]:
regimiento.groupby(['company','regiment'])[['preTestScore']].mean().reset_index()

  company    regiment  preTestScore
0     1st    Dragoons           3.5
1     1st  Nighthawks          14.0
2     1st      Scouts           2.5
3     2nd    Dragoons          27.5
4     2nd  Nighthawks          16.5
5     2nd      Scouts           2.5

### Paso 9. Agrupar todo el marco de datos por regimiento y compañía

### Paso 10. ¿Cuál es el número de observaciones en cada regimiento y compañía

### Paso 11. Iterar sobre un grupo e imprimir el nombre y todos los datos del regimiento. Haz una función llamada agrupa(variable)