# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [1]:
import numpy as np
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Paso 3. Asígnalo a una variable llamada chipo.

In [3]:
chipo = pd.read_csv(url,sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
chipo['price'] = chipo['item_price'].str[1:].str.rstrip()

In [5]:
chipo['price'] = chipo['price'].astype('float')

In [6]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [7]:
chipo['price'].max()

44.25

# Nombre del producto de valor máximo

In [23]:
mask = chipo['price'] == chipo['price'].max()
chipo[mask]

chipo[chipo['price'] == chipo['price'].max()]

,order_id,quantity,item_name,choice_description,item_price,price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

In [15]:
list(chipo[chipo['price'] > 10].drop_duplicates('item_name')['item_name'])

['Chicken Bowl',
 'Steak Burrito',
 'Chicken Burrito',
 'Barbacoa Bowl',
 'Veggie Burrito',
 'Veggie Bowl',
 'Chicken Soft Tacos',
 'Steak Bowl',
 'Carnitas Burrito',
 'Carnitas Bowl',
 'Barbacoa Burrito',
 'Chicken Salad Bowl',
 'Barbacoa Crispy Tacos',
 'Veggie Salad Bowl',
 'Chicken Crispy Tacos',
 'Chicken Salad',
 'Steak Salad Bowl',
 'Bowl',
 'Veggie Soft Tacos',
 'Barbacoa Soft Tacos',
 'Carnitas Crispy Tacos',
 'Carnitas Salad Bowl',
 'Barbacoa Salad Bowl',
 'Chips and Fresh Tomato Salsa',
 'Steak Soft Tacos',
 'Carnitas Soft Tacos',
 'Steak Crispy Tacos',
 'Chips and Guacamole',
 '6 Pack Soft Drink',
 'Bottled Water',
 'Side of Chips']

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

In [20]:
chipo.drop_duplicates('item_name')[['item_name','price']]

                                  item_name  price
0              Chips and Fresh Tomato Salsa   2.39
1                                      Izze   3.39
2                          Nantucket Nectar   3.39
3     Chips and Tomatillo-Green Chili Salsa   2.39
4                              Chicken Bowl  16.98
6                             Side of Chips   1.69
7                             Steak Burrito  11.75
8                          Steak Soft Tacos   9.25
10                      Chips and Guacamole   4.45
11                     Chicken Crispy Tacos   8.75
12                       Chicken Soft Tacos   8.75
16                          Chicken Burrito   8.49
18                              Canned Soda   2.18
21                         Barbacoa Burrito   8.99
27                         Carnitas Burrito   8.99
33                            Carnitas Bowl   8.99
34                            Bottled Water   1.09
38    Chips and Tomatillo Green Chili Salsa   2.95
39                            Barbacoa Bowl  11.75
40                                    Chips   2.15
44                       Chicken Salad Bowl   8.75
54                               Steak Bowl   8.99
56                      Barbacoa Soft Tacos   9.25
57                           Veggie Burrito  11.25
62                              Veggie Bowl  11.25
92                       Steak Crispy Tacos   9.25
111     Chips and Tomatillo Red Chili Salsa   2.95
168                   Barbacoa Crispy Tacos  11.75
186                       Veggie Salad Bowl  11.25
191      Chips and Roasted Chili-Corn Salsa   2.39
233      Chips and Roasted Chili Corn Salsa   2.95
237                     Carnitas Soft Tacos   9.25
250                           Chicken Salad  10.98
263                       Canned Soft Drink   1.25
281                        Steak Salad Bowl  23.78
298                       6 Pack Soft Drink   6.49
300     Chips and Tomatillo-Red Chili Salsa   2.39
445                                    Bowl  22.20
510                                 Burrito   7.40
520                            Crispy Tacos   7.40
554                   Carnitas Crispy Tacos   9.25
664                             Steak Salad   8.99
674       Chips and Mild Fresh Tomato Salsa   3.00
738                       Veggie Soft Tacos  11.25
1132                    Carnitas Salad Bowl  11.89
1229                    Barbacoa Salad Bowl  11.89
1414                                  Salad   7.40
1653                    Veggie Crispy Tacos   8.49
1694                           Veggie Salad   8.49
3750                         Carnitas Salad   8.99

### Paso 6. Ordenar por el nombre del artículo

In [22]:
# chipo['item_name'].sort_values()
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price,price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

In [26]:
chipo[chipo['price'] == chipo['price'].max()]['quantity']

3598    15
Name: quantity, dtype: int64

In [29]:
chipo.loc[3598][['quantity','price']]

quantity       15
price       44.25
Name: 3598, dtype: object

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

In [52]:
valor_a_buscar = 'salad'

conteo_ensalada = (chipo['item_name'] == valor_a_buscar).count()
conteo_ensalada

4622

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?

In [56]:
valor_a_buscar = 'Diet Coke'

refresco = (chipo['choice_description'] == valor_a_buscar).sum()
refresco

0